.theNews {
  padding-top: 114px;
  background: #fbfbfb;
}

.theNews .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 275px;
}

.theNews .newBody {
  display: flex;
  flex-direction: column;
  width: 1046px;
}
.theNews .newBody .imgs {
  margin-right: 28px;
}
.theNews .newBody .imgs img {
  width: 100%;
}
.theNews .newBody .cards {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #1f1f1f;
  padding: 22px 0;
  position: relative;
}
.theNews .newBody .cards:last-child {
  border-bottom: 1px solid #1f1f1f;
}

.theNews .newBody .cards .cardBody h1 {
  font-family: "EuropeExtB";
  font-weight: 700;
  font-size: 24px;
  line-height: 161.02%;
  color: #1f1f1f;
}

.theNews .newBody .cards .cardBody p {
  font-family: "SwitzerL";
  font-weight: 400;
  font-size: 18px;
  line-height: 161.02%;
  color: #676767;
  margin-top: 20px;
}

.theNews .newBody .cards .detailBtn {
  position: absolute;
  bottom: 70px;
  right: 120px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #1f1f1f;
  backdrop-filter: blur(3.5px);
  border-radius: 100px;
  font-family: "EuropeExtR";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #1f1f1f;
  cursor: pointer;
}
